/*global element styling*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3DFC1;
  font-family: 'Montserrat', sans-serif;
}

#page-wrapper {
  position: relative;
  width: 100%;
  border: 5px solid black;
}

.siteHeader {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 10px;
  height: 128px;
  width: 100%;
  background-color: #F26419;
  border: 2px solid yellow;
}

.siteHeader_section {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: blue;
  border: 2px solid black;
}