@import '../node_modules/scss-reset/src/scss/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Playfair+Display:ital,wght@1,500&family=Roboto+Mono:ital,wght@1,700&display=swap');

// Background Colors
$pry-color: #0d97c0;
$sec-color: #8f0dc0;
$tert-color: #3dc00d;
$quat-color: #c0360d;

// Text Colors
$sp-text: #b14d21;
$pry-text: #070301;
$sec-text: #5c2811;
$base-text: #fff;

// Font-Families
$lg-heading: 'Roboto Mono', monospace;
$sm-heading: 'Playfair Display', serif;
$par-heading: 'Hind', sans-serif;

// Font-Weights
$normal: 400;
$semibold: 500;
$bold: 800;

// Images
$show-home-image: true;
$home-image: url(../dist/img/background/phoenix-wallpapers.jpg);
$background-opacity: 0.9;

// Mixins
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($pry-color, $background-opacity);
      }
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  @include background();
  background-color: $pry-color;
  color: $pry-text;
  height: 100%;
  margin: 0;
  font-family: $par-heading;
  font-weight: $normal;
  line-height: 1.5;
  border: 3px solid yellow;
}

// Headings
h1, h2, h3 {
  margin: 0;
  font-weight: $normal;
  border: 3px solid black;

  &.lg-heading {
    font-family: $lg-heading;
    font-size: 6rem;    
  }

  &.sm-heading {
    font-family: $sm-heading;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-size: 2rem;
    color: $tert-color;
  }
}

a {
  color: $pry-text;
  font-family: $sm-heading;
  font-weight: $normal;
  font-size: 1.3rem;
  text-decoration: none;
  border: blue solid 2px;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-color {
  color: $sp-text;
}

main {
  padding: 4rem;
  height: 100%;
  border: solid springgreen 2px;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $quat-color;
        @include easeOut();
      }
    }
  }

  &#welcome-section {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}